@font-face {
    font-family: 'San Francisco Display';
    src: url('/usr/local/marcdown/src/fonts/SanFranciscoDisplay-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'San Francisco Display';
    src: url('/usr/local/marcdown/src/fonts/SanFranciscoDisplay-Medium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'San Francisco Display';
    src: url('/usr/local/marcdown/src/fonts/SanFranciscoDisplay-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'San Francisco Display';
    src: url('/usr/local/marcdown/src/fonts/SanFranciscoDisplay-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'San Francisco Display';
    src: url('/usr/local/marcdown/src/fonts/SanFranciscoDisplay-Heavy.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'San Francisco Display';
    src: url('/usr/local/marcdown/src/fonts/SanFranciscoDisplay-Black.otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'San Francisco';
    src: url('/usr/local/marcdown/src/fonts/SanFranciscoText-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'San Francisco';
    src: url('/usr/local/marcdown/src/fonts/SanFranciscoText-RegularItalic.otf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'San Francisco';
    src: url('/usr/local/marcdown/src/fonts/SanFranciscoText-Medium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'San Francisco';
    src: url('/usr/local/marcdown/src/fonts/SanFranciscoText-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'San Francisco';
    src: url('/usr/local/marcdown/src/fonts/SanFranciscoText-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'San Francisco';
    src: url('/usr/local/marcdown/src/fonts/SanFranciscoText-Heavy.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'San Francisco Mono';
    src: url('/usr/local/marcdown/src/fonts/SFMono-Regular.otf');
    font-weight: 400;
    font-style: normal;
}